<div class="row">
    <div class="col-md-2"></div>  
    <div class="col-md-5">
    	<h2>Informationen über das Unternehmen</h2>
    	Universität zu Köln<br>
		Albertus Magnus Platz <br>
		50923 Köln<br>
		<br>
		<h3>Betreibende Personen:</h3>
		Christoph Bensch<br>
		Jan Löffelmann<br>
		Jan-Henning Schmitz<br>
		Philipp Simon<br>
		Sandra Klein<br>
		André Schiefer<br>
		<h3>Kontakt</h3>
		Telefon: +49 221 470-1021<br>
		E-Mail: sharp.cologne@gmail.com<br>
    </div>
    <div class="col-md-5"></div> 
</div>





