

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10"><h2>Werbetafel-Editieren</h2></div>
</div>  
  <br />
  <br />
<div class="row">
  <div class="col-md-2"></div>  
  <div class="col-md-2"><h4 style="margin-bottom:10px">Kennzeichnung (ID)</h4> </div><!-- Single button -->
  <div class="col-md-3">
    <div class="form-group" style="margin-top:10px">
    <input type="text" class="form-control" name="id" ng-model="id" required>
    </div>
    </div>
    <div class="col-md-5"></div> 
</div>
<div class="row">
  <div class="col-md-2"></div>  
  <div class="col-md-2"><h4 style="margin-bottom:10px">Standort</h4> </div><!-- Single button -->
  <div class="col-md-3">
    <div class="form-group" style="margin-top:10px">
      <input type="text" class="form-control" name="id" ng-model="adr" required>
    </div>
  </div>
  <div class="col-md-5"></div> 
</div>      
<div class="row">
  <div class="col-md-2"></div>  
  <div class="col-md-2"><h4 style="margin-bottom:10px">XPos</h4> </div><!-- Single button -->
  <div class="col-md-3">
    <div class="form-group" style="margin-top:10px">
      <input type="text" class="form-control" name="id" ng-model="x" required>
    </div>
  </div>
  <div class="col-md-5"></div> 
</div>   
<div class="row">
  <div class="col-md-2"></div>  
  <div class="col-md-2"><h4 style="margin-bottom:10px">YPos</h4> </div><!-- Single button -->
  <div class="col-md-3">
    <div class="form-group" style="margin-top:10px">
      <input type="text" class="form-control" name="id" ng-model="y" required>
    </div>
  </div>
  <div class="col-md-5"></div> 
</div>  
<div class="row">
  <div class="col-md-2"></div>  
  <div class="col-md-2"><h4 style="margin-bottom:10px">&Oslash Preis in €</h4> </div><!-- Single button -->
  <div class="col-md-3">
    <div class="form-group" style="margin-top:10px">
      <input type="text" class="form-control" name="id" ng-model="p" required>
    </div>
  </div>
  <div class="col-md-5"></div> 
</div>    
<h1><br /></h1>
<br />
<div class="row">
  <div class="col-md-2"></div>  
  <div class="col-md-2"><button type="button" class="btn btn-default btn-block" ng-click="saveBoard()">Speichern</button> </div><!-- Single button -->
  <div class="col-md-1"></div>
  <div class="col-md-2"><button type="button" class="btn btn-default btn-block">Abbrechen</button> </div><!-- Single button -->
  <div class="col-md-1"></div>
  <div class="col-md-2"><button type="button" class="btn btn-default btn-block">Löschen</button> </div><!-- Single button -->
  <div class="col-md-2"></div> 
</div>  
