

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10"><h2>Werbetafel-Erstellen</h2></div>
</div>  
  <br />
  <br />
<form name="myForm" ng-submit="saveBoard()">
<div class="row">
    <div class="col-md-2"></div>  
    <div class="col-md-5"><uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert></div>
      <div class="col-md-5"></div> 
  </div>
  <div class="row">
    <div class="col-md-2"></div>  
    <div class="col-md-2"><h4 style="margin-bottom:10px">WerbetafelMacAdresse</h4> </div>
    <div class="col-md-3">
      <div class="form-group" style="margin-top:10px">
        <input class="form-control" name="id" ng-pattern="^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$" ng-model="board.werbetafelMacAdresse" required>
      </div>
    </div>
    <div class="col-md-5"></div> 
  </div>
  <div class="row">
    <div class="col-md-2"></div>  
    <div class="col-md-2"><h4 style="margin-bottom:10px">StandortID</h4> </div>
    <div class="col-md-3">
      <div class="form-group" style="margin-top:10px">
        <input type="number" class="form-control" name="id" ng-pattern="/^[0-9]{1,7}$/" ng-model="board.adresse" required>
      </div>
    </div>
    <div class="col-md-5"></div> 
  </div>      
  <div class="row">
    <div class="col-md-2"></div>  
    <div class="col-md-2"><h4 style="margin-bottom:10px">Bildgröße (X-Achse)</h4> </div>
    <div class="col-md-3">
      <div class="form-group" style="margin-top:10px">
        <input type="number" class="form-control" name="id" ng-pattern="/^[0-9]{1,7}$/" ng-model="board.dimensionX" required>
      </div>
    </div>
    <div class="col-md-5"></div> 
  </div>   
  <div class="row">
    <div class="col-md-2"></div>  
    <div class="col-md-2"><h4 style="margin-bottom:10px">Bildgröße (Y-Achse)</h4> </div>
    <div class="col-md-3">
      <div class="form-group" style="margin-top:10px">
        <input type="number" class="form-control" name="id" ng-pattern="/^[0-9]{1,7}$/" ng-model="board.dimensionY" required>
      </div>
    </div>
    <div class="col-md-5"></div> 
  </div>  
  <div class="row">
    <div class="col-md-2"></div>  
    <div class="col-md-2"><h4 style="margin-bottom:10px">&Oslash Preis in €</h4> </div>
    <div class="col-md-3">
      <div class="form-group" style="margin-top:10px">
        <input type="number" class="form-control" name="id" ng-pattern="/^[0-9]{1,7}$/" ng-model="board.preis" required>
      </div>
    </div>
    <div class="col-md-5"></div> 
  </div>    
  <div class="row">
    <div class="col-md-2"></div>  
    <div class="col-md-2"><h4 style="margin-bottom:10px">Längengrad</h4> </div>
    <div class="col-md-3">
      <div class="form-group" style="margin-top:10px" ng-class="{'has-error': myForm.lang.$invalid}">
        <input type="number" class="form-control" name="lang" ng-patter="/^[0-9]{1,7}(\.[0-9]+)?$/" ng-model="board.xPos" step="0.000000000000001" required>
         <!-- Wenn die eingabe nicht korrekt ist, dass dem User sagen! -->
         <span class="help-block" ng-show="!myForm.lang.$valid">
          Kein Gültiger Längengrad!
         </span>
      </div>
    </div>
    <div class="col-md-5"></div> 
  </div>
  <div class="row">
    <div class="col-md-2"></div>  
    <div class="col-md-2"><h4 style="margin-bottom:10px">Breitengrad</h4> </div>
    <div class="col-md-3">
      <div class="form-group" style="margin-top:10px" ng-class="{'has-error': myForm.lat.$invalid}">
        <input type="number" class="form-control" name="lat" ng-patter="/^[0-9]{1,7}(\.[0-9]+)?$/" ng-model="board.yPos" step="0.000000000000001" required>
         <!-- Wenn die eingabe nicht korrekt ist, dass dem User sagen! -->
         <span class="help-block" ng-show="!myForm.lat.$valid">
          Kein Gültiger Breitengrad!
         </span>
      </div>
    </div>
    <div class="col-md-5"></div> 
  </div>
  <h1><br /></h1>
  <br />
  <div class="row">
    <div class="col-md-2"></div>  
    <div class="col-md-2"><button type="submit" class="btn btn-default btn-block">Speichern</button> </div> <!-- hier wird submitted (oben wird saveBoard aufgerufen) -->
    <div class="col-md-1"></div>
    <div class="col-md-2"><button type="button" class="btn btn-default btn-block" ng-click="dismiss()">Abbrechen</button> </div>
    <div class="col-md-1"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div> 
  </div>
  </form>  
</div>