<script type="text/ng-template" id="sureDeleteModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Sicher das sie diese Tafel löschen wollen?</h3>
    </div>
    <div class="modal-body">
        WerbetafelID: <b>{{ item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok(item)"><font color="white">OK</font></button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Abbruch</button>
    </div>
</script>


<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10"><h2>Werbetafel-Editieren</h2></div>
</div>  
  <br />
  <br />
<div ng-if="board">
<form name="myForm" ng-submit="saveBoard()">
<div class="row">
    <div class="col-md-2"></div>  
    <div class="col-md-5"><uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert></div><!-- Single button -->
      <div class="col-md-5"></div> 
  </div>
  <div class="row">
    <div class="col-md-2"></div>  
    <div class="col-md-2"><h4 style="margin-bottom:10px">Kennzeichnung (ID)</h4> </div><!-- Single button -->
    <div class="col-md-3"><h4 style="margin-bottom:10px">
      {{board.werbetafelId }}</h4>
      </div>
      <div class="col-md-5"></div> 
  </div>
  <div class="row">
    <div class="col-md-2"></div>  
    <div class="col-md-2"><h4 style="margin-bottom:10px">WerbetafelMacAdresse</h4> </div><!-- Single button -->
    <div class="col-md-3">
      <div class="form-group" style="margin-top:10px" ng-class="{'has-error': myForm.MacAdress.$invalid}">
        <input class="form-control" name="MacAdress" ng-pattern="^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$" ng-model="board.werbetafelMacAdresse" required>
        <span class="help-block" ng-show="!myForm.MacAdress.$valid">
          Keine Gültige MacAdresse!
         </span>
      </div>
    </div>
    <div class="col-md-5"></div> 
  </div>
  <div class="row">
    <div class="col-md-2"></div>  
    <div class="col-md-2"><h4 style="margin-bottom:10px">StandortID</h4> </div><!-- Single button -->
    <div class="col-md-3">
      <div class="form-group" style="margin-top:10px">
        <input type="number" class="form-control" name="id" ng-pattern="/^[0-9]{1,7}$/" ng-model="board.adresse" required>
      </div>
    </div>
    <div class="col-md-5"></div> 
  </div>      
  <div class="row">
    <div class="col-md-2"></div>  
    <div class="col-md-2"><h4 style="margin-bottom:10px">Bildgröße (X-Achse)</h4> </div><!-- Single button -->
    <div class="col-md-3">
      <div class="form-group" style="margin-top:10px">
        <input type="number" class="form-control" name="id" ng-pattern="/^[0-9]{1,7}$/" ng-model="board.dimensionX" required>
      </div>
    </div>
    <div class="col-md-5"></div> 
  </div>   
  <div class="row">
    <div class="col-md-2"></div>  
    <div class="col-md-2"><h4 style="margin-bottom:10px">Bildgröße (Y-Achse)</h4> </div><!-- Single button -->
    <div class="col-md-3">
      <div class="form-group" style="margin-top:10px">
        <input type="number" class="form-control" name="id" ng-pattern="/^[0-9]{1,7}$/" ng-model="board.dimensionY" required>
      </div>
    </div>
    <div class="col-md-5"></div> 
  </div>  
  <div class="row">
    <div class="col-md-2"></div>  
    <div class="col-md-2"><h4 style="margin-bottom:10px">&Oslash Preis in €</h4> </div><!-- Single button -->
    <div class="col-md-3">
      <div class="form-group" style="margin-top:10px">
        <input type="number" class="form-control" name="id" ng-pattern="/^[0-9]{1,7}$/" ng-model="board.preis" required>
      </div>
    </div>
    <div class="col-md-5"></div> 
  </div>    
  <div class="row">
    <div class="col-md-2"></div>  
    <div class="col-md-2"><h4 style="margin-bottom:10px">Längengrad</h4> </div><!-- Single button -->
    <div class="col-md-3">
      <div class="form-group" style="margin-top:10px" ng-class="{'has-error': myForm.lang.$invalid}">
        <input type="number" class="form-control" name="lang" ng-patter="/^[0-9]{1,7}(\.[0-9]+)?$/" ng-model="board.xPos" step="0.000000000000001" required>
         <span class="help-block" ng-show="!myForm.lang.$valid">
          Kein Gültiger Längengrad!
         </span>
      </div>
    </div>
    <div class="col-md-5"></div> 
  </div>
  <div class="row">
    <div class="col-md-2"></div>  
    <div class="col-md-2"><h4 style="margin-bottom:10px">Breitengrad</h4> </div><!-- Single button -->
    <div class="col-md-3">
      <div class="form-group" style="margin-top:10px" ng-class="{'has-error': myForm.lat.$invalid}">
        <input type="number" class="form-control" name="lat" ng-patter="/^[0-9]{1,7}(\.[0-9]+)?$/" ng-model="board.yPos" step="0.000000000000001" required>
         <span class="help-block" ng-show="!myForm.lat.$valid">
          Kein Gültiger Breitengrad!
         </span>
      </div>
    </div>
    <div class="col-md-5"></div> 
  </div>
  <h1><br /></h1>
  <br />
  <div class="row">
    <div class="col-md-2"></div>  
    <div class="col-md-2"><button type="submit" class="btn btn-default btn-block">Speichern</button> </div><!-- Single button -->
    <div class="col-md-1"></div>
    <div class="col-md-2"><button type="button" class="btn btn-default btn-block" ng-click="dismiss()">Abbrechen</button> </div><!-- Single button -->
    <div class="col-md-1"></div>
    <div class="col-md-2"><button type="button" class="btn btn-default btn-block" ng-click="deleteBoard(board.werbetafelId)">Löschen</button></div><!-- hier war der Delete button -->
    <div class="col-md-2"></div> 
  </div>
  </form>  
</div>
<div ng-if="keinBoard">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10"><h3>Werbetafel nicht gefunden!</h3></div>
  </div> 
</div>