<!DOCTYPE html>
<html ng-app="advertioApp">
  <head>
  <meta charset="utf-8">
  <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">-->
  <base href="/">

  <title>Advertio Webfrontend</title>
  <link rel="shortcut icon" href="img/logo.png">

  
  <link rel="stylesheet" href="dist/css/styles.css">

</head>
<body ng-controller="MasterCtrl">

  <script type="text/ng-template" id="editModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Welche Werbetafel bearbeiten?</h3>
        </div>
        <div class="modal-body">
            <div class="row">
              <div class="col-md-5"><h4 style="margin-bottom:10px">Kennzeichnung (ID)</h4> </div><!-- Single button -->
              <div class="col-md-3">
                <div class="form-group" style="margin-top:10px">
                  <input type="text" class="form-control" name="id" ng-model="item" required>
                </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok(item)"><font color="white">OK</font></button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Abbruch</button>
        </div>
    </script>
    <script type="text/ng-template" id="anModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Werbetafel anlegen</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                Bitte über die Karte anlegen!
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()" ><font color="white">OK</font></button>
            <button class="btn btn-warning" type="button" ng-click="cancel()" >Abbruch</button>
        </div>
    </script>
  
  <div ng-if="logedin && !streaming" id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
    <nav class="navbar navbar-default" style="background:#31859B; margin-left:-100px">
      <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" style="">
          <li><img src="/img/logo.png" style="height:50px"></li>
          <li ng-style="aktiv === 'map' ? {'background':'#47ABC5'} : {}"><a href="/map" class="active"><font color="white">Werbetafeln</font></a></li>
          <li ng-style="aktiv === 'werbedit' ? {'background':'#47ABC5'} : {}"><a ng-click="werbEdit()" href=""><font color="white">Werbetafel editieren</font></a></li>
          <li ng-style="aktiv === 'werban' ? {'background':'#47ABC5'} : {}"><a ng-click="werbAn()" href=""><font color="white">Werbetafel anlegen</font></a></li>
          <li ng-style="aktiv === 'bla' ? {'background':'#47ABC5'} : {}"><a href=""><font color="white">Interessen</font></a></li>
          <li ng-style="aktiv === 'bla' ? {'background':'#47ABC5'} : {}"><a href=""><font color="white">Kundenabrechnungen</font></a></li>
          <li ng-style="aktiv === 'bla' ? {'background':'#47ABC5'} : {}"><a href=""><font color="white">Werbeanzeigeregeln</font></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><font color="white">Kontakt</font></a></li>
          <li><a href="#" ng-click="logout()"><font color="white">Ausloggen</font></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  </div>
   <div ng-if="!logedin && !streaming" class="row">
    <img src="img/blurred-bg-13.jpg" style="height:100%; left:0; position: fixed !important; top: 0; width: 100%" alt="">
    <div class="col-md-4 col-md-offset-4">
        <form class="row">
        <br/><br/><br/><br/>
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
            <div class="col-md-10 col-md-offset-1 content-box modal-content">
                <h4 class="content-box-header content-box-header-alt">
                    <p>Advertio <small>Account Daten eingeben:</small></p>
                </h4>
                <div class="content-box-wrapper">
                    <div class="form-group">
                        <div class="input-group">
                            <input ng-model="usr.user" type="text" class="form-control" id="email" placeholder="Enter email">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-envelope"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input ng-model="usr.passwort" type="password" class="form-control" id="pw" placeholder="Password">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <a href="" title="Recover password">Passwort vergessen?</a>
                    </div>
                    <button ng-click="submit(usr)" class="btn btn-success btn-block">Einloggen</button><br/>
                </div>
            </div>
        </form>
    </div>
</div>    
  <div ng-view></div>
  
  <script src="dist/js/libs.js"></script>

  <script src="dist/js/app.js"></script>
</body>
</html>